!!! strict
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    %title Julia Fucking Abbott? News at 10!
    %link{:rel => "icon", :href => "/images/favicon.ico", :type => "image/x-icon"}
    %link{:rel=>'stylesheet ', :href=>'/stylesheets/reset.css', :type => "text/css"} 
    %link{:rel=>'stylesheet', :href=>'/stylesheets/main.css', :type => "text/css"} 
  %body 
    #wrapper
      %h1 
        %a{:href => "/"} Julia Fucking Gillard?!?!!
      #page
        %h2
          At least
          %strong=@results.length
          people have sworn about Julia Gillard on Twitter.
        = yield
      #footer
        %p
          Adapted by
          %a{:href => "http://www.nsewell.info"} Nick Sewell
          , originally made by 
          %a{:href => "http://lachstock.com.au/"} Lachlan Hardy
          ,
          %a{:href => "http://andycoffey.com/"} Andy Coffey
          , and some good friends to express some frustration and rage by sharing that of others.
